<div class="flex-container">
  <div class="strong inrow">
      
       <div class="flex-item">
        <table class="wrapper">
            <tr style="height:1em;">
                <td style="width:1em;"></td>
                <td><h1>important</h1></td>
            </tr>
            <tr>
                <td>
                    <h1>u<br/>r<br/>g<br/>e<br/>n<br/>t</h1>
                </td>
                <td style="background:#FFDFBF; position: relative" dd-drop-target="true" dropid="4">
                    <div style="position: absolute; top: 0px; right:0px"> <button ng-click="addNewNote(4)">+</button></div>
                    <div  style="height: 100%; width: 100%; position: relative">                         
                        <task-item  ng-repeat="t in chart.items | filter:{severity:4}" t="t" /> 
                    <div>
                </td>
            </tr>
        </table> 
      </div>
      
      <div class="flex-item">
        <table class="wrapper">
            <tr style="height:10px;">
                <td><h1>not important</h1></td>
                <td style="width:1em;"></td>
            </tr>
            <tr>
                <td style="background:#FFDFBF; position: relative" dd-drop-target="true" dropid="3">
                    <div style="position: absolute; top: 0px; right:0px"> <button ng-click="addNewNote(3)">+</button></div>
                    <div  style="height: 100%; width: 100%; position: relative">                         
                        <task-item  ng-repeat="t in chart.items | filter:{severity:3}" t="t" /> 
                    <div>
                </td>
                <td>
                    <h1>u<br/>r<br/>g<br/>e<br/>n<br/>t</h1>
                </td>
            </tr>
        </table> 
      </div>
      
  </div>
    <!-- -->
  <div class="strong inrow">
       <div class="flex-item">
        <table class="wrapper">
            <tr>
                <td>
                    <h1>n<br/>o<br/>t<br/><br/>u<br/>r<br/>g<br/>e<br/>n<br/>t</h1>
                </td>
                <td style="background:#FFDFBF; position: relative" dd-drop-target="true" dropid="2">
                    <div style="position: absolute; top: 0px; right:0px"> <button ng-click="addNewNote(2)">+</button></div>
                    <div  style="height: 100%; width: 100%; position: relative">                         
                        <task-item  ng-repeat="t in chart.items | filter:{severity:2}" t="t" /> 
                    <div>
                </td>

            </tr>
            <tr style="height:1em;">
                <td style="width:1em;"></td>
                <td><h1>important</h1></td>
            </tr>
        </table> 
      </div>
      
      <div class="flex-item">
        <table class="wrapper">
            <tr>
                <td style="background:#FFDFBF; position: relative" dd-drop-target="true" dropid="1">
                    <div style="position: absolute; top: 0px; right:0px"> <button ng-click="addNewNote(1)">+</button></div>
                    <div  style="height: 100%; width: 100%; position: relative" >                         
                        <task-item  ng-repeat="t in chart.items | filter:{severity:1}" t="t" /> 
                    <div>
                </td>
                <td>
                    <h1>n<br/>o<br/>t<br/><br/>u<br/>r<br/>g<br/>e<br/>n<br/>t</h1>
                </td>
            </tr>
            <tr style="height:10px;">
                <td><h1>not important</h1></td>
                <td style="width:1em;"></td>
            </tr>
        </table> 
      </div>
      
  </div>
</div>